<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./images/logo/respon-icon.png" />
    <script src="https://kit.fontawesome.com/d78418863e.js" crossorigin="anonymous"></script>
    <title>Respon</title>
  </head>
  <body>
    <header id="header" class="fixed-top ">
      <app-bar></app-bar>
    </header>
    <main id="mainContent"></main> 
    <footer>
      <footer-bar></footer-bar>
  </footer>
  </body>
  
</html>
