/*--------------------------------
#navbar
---------------------------------*/
@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
      margin-right: 0;
      padding: 10px 0;
  }

  .navbar .navbar-nav {
      border-top: 1px solid #F6F5F5;
  }
}

/*--------------------------------
#hero
---------------------------------*/
@media (max-width: 991px) {
  #hero {
    text-align: center;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  #hero .btn {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@media (max-width: 1024px) {
  .how-to .content, .how-to .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

/*--------------------------------
#how to
---------------------------------*/
@media (max-width: 992px) {
  .how-to .img {
    min-height: 400px;
  }
  .how-to .content {
    padding-top: 30px;
  }
  .how-to .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .how-to .img {
    min-height: 200px;
  }
}